<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoK6pSKGN0eLJkeUQkhyhuuWmjebhXn9c</string>
	<key>GCM_SENDER_ID</key>
	<string>178903937427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.runningLog</string>
	<key>PROJECT_ID</key>
	<string>running-log-af92b</string>
	<key>STORAGE_BUCKET</key>
	<string>running-log-af92b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178903937427:ios:a8b2803628a0f3feb53866</string>
</dict>
</plist>